#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

tr:nth-child(even) {
    background: #1a1a1a;
    color: #F2F2F2;
}

tr:nth-child(odd) {
    background: #1a1a1a;
    color: #f9f9f9;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}